body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: grey;
}

textarea {
    color: purple;
    padding: 12px;
    border: none;
    border-left: 2px solid yellow;
}

.jumbotron {
    text-align: center;
    background-color: purple;
    color: white;
    border-bottom: 5px solid yellow;
}

.row {
    height: 90px;
    border-top: 2px solid yellow;
    white-space: pre-wrap;
}

.hour {
    background-color: purple;
    color: white;

}

.saveButton {
    background-color: purple;
    color: white;
    border-bottom-right-radius: 15px;
    border-left: 1px solid yellow;


}

.far {
    font-size: 150%;
}


